@white: #ffffff;
@white-2: rgba(255, 255, 255, 0.2);
@black: #000000;
@black-2: #111111;
@black-bg: rgba(0, 0, 0, 0.226);
@grey-1: #EFEFEF;
@grey-2: #464646;
@grey-3: #707070;
@grey-4: #e0e0e0;
@grey-5: #3a3b50;
@purple-1: #9D3EBE;
@purple-2: #51459F;
@purple-3: #2d2755;
@orange-1: #F2711C;
@orange-2: rgba(247, 136, 109, 0.226);
@red-1: #B33630;
@red-2: #e92e24;
@red-3: rgba(233, 46, 36, 0.225);
@red-4: #ff0000;
@red-5: #DB2828;
@green-1: #00d897;
@green-2: #06d69e8a;
@blue-1: #45a0fc;
@blue-2: rgba(69, 160, 252, 0.25);
@blue-3: #2185D0;
@blue-4: #b9dcff;
@blue-5: #00a0ff;
@blue-6: #00308F;
@blue-bg: #d0eafd;