.file-upload {
  .dragover {}

  .upload-field {
    .fake-button {}

    .file-upload-field {}
  }

  .file-upload-items {
    .thumbnail-container {
      &:last-of-type {
        margin-right: 0px;
      }

      img {}

      .file-name {}

      .remove-button {
        &:hover {}
      }
    }
  }

  .error {}
}

html {}

body {}

.header {
  .upper-part {
    .flex-div {
      .logo {
        img {}

        .small {}
      }

      .search {}
    }
  }

  .nav-holder {
    width: 100%;

    &.active {}


    nav {
      padding: 60px 40px 100px 40px;

      ul {
        li {
          a {}
        }
      }
    }
  }

  .search-part {
    &.active {}

    .search {
      .search-input {
        width: 180px;
        padding: 4px 10px 3px 10px;

      }

      .search-btn {
        padding: 4px 10px 3px 10px;
      }
    }
  }
}

h2 {
  font-size: 3.5rem;
}

h3 {}

h4 {}

h5 {}

h6 {}

p,
span,
blockquote {}

span {}

.btn {
  &::before {}

  &::after {}

  &.normal-tran {}

  &.full-green {}

  &.full-orange {}
}

section {}

.error {
  .font-roboto-regular();
}

.content {
  grid-template-columns: repeat(1, 1fr);
  max-width: 90%;

  &.author {}

  .item {
    .holder {
      .img {
        img {}
      }

      h3 {}
    }

    .bottom {
      span {}

      .full-blue {}
    }
  }
}

.main {
  .filtering {
    width: 100%;

    &.active {}

    .bg {}

    .close {}

    .filter-form {
      .part {
        h3 {}

        .checkbox-block {
          .children {}

          input[type="checkbox"] {
            &+label {
              span {}

              .arrow-fil {}
            }
          }

          .checkbox-holder {
            input[type="checkbox"] {
              &+label {}
            }
          }
        }

        .full-blue {}

        .slide-part {
          .price-filter-range {
            .ui-slider-handle {}

            .ui-widget-header {}

            .ui-slider-range {}

            .ui-state-default {}
          }

          .wrapper {
            input {}

            span {}
          }
        }
      }
    }
  }

  .main-section {
    .content {
      .item {
        .img {
          img {}
        }

        .text {
          h3 {}

          p {}

          .bottom {
            span {}

            .full-orange {}
          }
        }
      }
    }
  }

  .category {
    margin-bottom: 100px;
  }

  .detail-section {
    .centred {
      .left {
        max-width: 300px;

        .detail {
          .swiper-slide {
            .swiper-div {
              height: 300px;
            }
          }
        }

        .swiper-pagination {
          .swiper-pagination-bullet {}

          .swiper-button-prev-detail {}

          .swiper-button-next-detail {}
        }
      }

      .right {
        h2 {}

        p {}

        .price {
          span {
            strong {}
          }
        }

        .contact {
          span {margin-right: 0px;}

          a {}
        }
      }
    }
  }

  .search-section {
    h2 {}

    .content {
      grid-template-columns: repeat(1, 1fr);

      .item {
        .img {
          img {}
        }

        .text {
          h3 {}

          p {}

          .bottom {
            span {}

            .full-orange {}
          }
        }
      }
    }
  }

  .register-section {
    h2 {}

    .register {
      .wrapper {
        input {}

        label {
          font-size: 1.3rem;
        }

        .full-green {
          width: unset;
        }
      }
    }
  }

  .login-section {
    h2 {}

    .login {
      input {}

      .full-green {}
    }
  }

  .inventory {
    h2 {}

    .add {
      a {}
    }

    .content {
      grid-template-columns: repeat(1, 1fr);

      .item {
        .img {
          img {}

          .bg {}

          p {}
        }

        .text {
          h3 {}

          span {}

          a {
            &:first-of-type {}
          }
        }
      }
    }
  }

  .modal {
    padding-top: 0px;
    padding-bottom: 0px;

    &.modal-add {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .bg {}

    .close {}

    .modal-text {
      h3 {}

      .upper {}

      .form-review {
        .form-holder {
          h4 {}

          .phone {}

          input,
          textarea {
            &+label {}
          }

          textarea {}

          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="number"],
          textarea {
            &+label {
              &.active {}
            }

            &:focus {
              &+label {}
            }
          }

          input[type="number"] {}

          input[type="radio"] {}

          input[type="checkbox"] {
            &+label {}
          }

          .dropdown {
            &.active {
              .active-select {}

              .select-block {}
            }

            .active-select {
              a {}
            }

            .select-block {
              .select-item {

                a {}
              }
            }
          }

          select {}
        }

        &.drop {
          h4 {}
        }
      }

      .left {}

      .right {
        textarea {}

        .form-holder {
          h4 {}

          &.button {}

          .review-send {}
        }
      }
    }
  }
}

.footer {
  .flex-div {
    .contacts {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;

      h2 {}

      a {
        margin-bottom: 10px;

        &:last-of-type {}

        strong {}

        &.phone {}

        &.email {}
      }
    }

    .links {
      a {}
    }

    .created-by {
      span {
        a {}
      }
    }
  }
}