.file-upload {
  .dragover {}

  .upload-field {
    height: 40px;

    .fake-button {
      padding: 11px;
      background-color: @blue-1;
    }

    .file-upload-field {}
  }

  .file-upload-items {
    .thumbnail-container {
      width: 90px;
      height: 90px;

      &:last-of-type {
        margin-right: 0px;
      }

      img {}

      .file-name {}

      .remove-button {
        &:hover {}
      }
    }
  }

  .error {}
}

html {}

body {}

.header {

  &.fixed {}

  .upper-part {
    .flex-div {
      .logo {
        width: 63px;
        height: 50px;
        margin-right: 0px;

        img {
          display: none;
        }

        .small {
          display: block;
        }
      }

      form {
        input {
          &::placeholder {}
        }

        .search {}
      }

      nav {
        ul {
          li {
            &:last-of-type {}

            a {}
          }
        }
      }

      .hamburger {}
    }
  }


}

h2 {
  font-size: 4rem;
}

h3 {}

h4 {}

h5 {}

h6 {}

p,
span,
blockquote {
  font-size: 1.4rem;
}

span {}

.btn {
  &::before {}

  &::after {}

  &.normal-tran {}

  &.full-green {}

  &.full-orange {}
}

section {}

.error {
  .font-roboto-regular();
}

.content {
  grid-template-columns: repeat(2, 1fr);
  max-width: 80%;
  float: unset;
  margin: 0 AUTO;

  &.author {}

  .item {
    .holder {
      .img {
        img {}
      }

      h3 {}
    }

    .bottom {
      span {}

      .full-blue {}
    }
  }
}

.sorting {
  flex-direction: column;

  .full-blue {
    margin-bottom: 20px;
  }
}

.main {
  .main-section {

    .content {
      .item {
        .img {
          img {}
        }

        .text {
          h3 {}

          p {}

          .bottom {
            span {}

            .full-orange {}
          }
        }
      }
    }
  }

  .category {
    margin-bottom: 100px;
  }

  .detail-section {
    .centred {
      flex-direction: column-reverse;
      padding: 40px;

      width: 90%;
      margin: 0 auto;

      .left {
        margin-right: 0;

        .detail {
          .swiper-slide {
            .swiper-div {
              border-radius: 10px;
            }
          }
        }

        .swiper-pagination {
          .swiper-pagination-bullet {}

          .swiper-button-prev-detail {}

          .swiper-button-next-detail {}
        }
      }

      .right {
        align-items: center;
        width: 100%;
        padding: 0px 0px 50px 0px;

        h2 {}

        p {}

        .price {
          span {
            strong {}
          }
        }

        .contact {
          align-items: center;

          span {}

          a {}
        }
      }
    }
  }

  .search-section {
    h2 {}

    .content {
      grid-template-columns: repeat(2, 1fr);

      .item {
        .img {
          img {}
        }

        .text {
          h3 {}

          p {}

          .bottom {
            span {}

            .full-orange {}
          }
        }
      }
    }
  }

  .register-section {
    h2 {}

    .register {
      width: 60%;

      .wrapper {
        input {
          font-size: 1.4rem;
          padding: 10px 10px 10px 10px;
        }

        label {}

        .full-green {}
      }
    }
  }

  .login-section {
    margin-top: 100px;
    margin-bottom: 100px;

    h2 {}

    .login {
      width: 60%;

      input {
        font-size: 1.4rem;
        padding: 10px 10px 10px 10px;
      }

      .full-green {}
    }
  }

  .inventory {
    h2 {}

    .add {
      a {}
    }

    .content {
      grid-gap: 15px 14px;
      grid-template-columns: repeat(3, 1fr);

      .item {
        .img {
          img {}

          .bg {}

          p {}
        }

        .text {
          h3 {}

          span {}

          a {
            font-size: 1.5rem;

            &:first-of-type {}
          }
        }
      }
    }
  }

  .modal {
    padding-top: 0px;
    padding-bottom: 0px;

    &.modal-add {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .bg {}

    .close {}

    .modal-text {
      h3 {}

      .upper {}

      .form-review {
        .form-holder {
          h4 {}

          .phone {}

          input,
          textarea {
            &+label {}
          }

          textarea {}

          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="number"],
          textarea {
            &+label {
              &.active {}
            }

            &:focus {
              &+label {}
            }
          }

          input[type="number"] {}

          input[type="radio"] {}

          input[type="checkbox"] {
            &+label {}
          }

          .dropdown {
            &.active {
              .active-select {}

              .select-block {}
            }

            .active-select {
              a {}
            }

            .select-block {
              .select-item {

                a {}
              }
            }
          }

          select {}
        }

        &.drop {
          h4 {}
        }
      }

      .left {}

      .right {
        textarea {}

        .form-holder {
          h4 {}

          &.button {}

          .review-send {}
        }
      }
    }
  }
}

.footer {
  .flex-div {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: 20px;

    .contacts {
      h2 {}

      a {
        &:last-of-type {}

        strong {}

        &.phone {}

        &.email {}
      }
    }

    .links {
      a {}
    }

    .created-by {
      width: unset;

      span {
        a {}
      }
    }
  }
}