.file-upload {
  .dragover {}

  .upload-field {
    .fake-button {}

    .file-upload-field {}
  }

  .file-upload-items {
    .thumbnail-container {
      &:last-of-type {
        margin-right: 0px;
      }

      img {}

      .file-name {}

      .remove-button {
        &:hover {}
      }
    }
  }

  .error {}
}

html {}

body {}

.header {

  &.fixed {}

  .flex-div {
    .logo {
      img {}

      .small {}
    }

    form {
      input {
        width: 200px;
        font-size: 1.4rem;

        &::placeholder {}
      }

      .search {
        font-size: 1.4rem;
      }
    }

    nav {
      ul {
        li {
          &:last-of-type {}

          a {}
        }
      }
    }

    .hamburger {}
  }

}

h2 {}

h3 {
  font-size: 2rem;
}

h4 {}

h5 {}

h6 {}

p,
span,
blockquote {}

span {}

.btn {
  &::before {}

  &::after {}

  &.normal-tran {}

  &.full-green {}

  &.full-orange {}
}

section {}

.error {
  .font-roboto-regular();
}

.content {
  max-width: 100%;

  &.author {}

  .item {
    .holder {
      .img {
        height: 200px;

        img {}
      }

      h3 {}
    }

    .bottom {
      span {
        font-size: 1.5rem;
      }

      .full-blue {
        padding: 5px 20px 5px 20px;
      }
    }
  }
}

.main {
  .main-section {
    .content {
      .item {
        .img {
          img {}
        }

        .text {
          h3 {}

          p {}

          .bottom {
            span {}

            .full-orange {}
          }
        }
      }
    }
  }

  .category {
    margin-bottom: 100px;
  }

  .detail-section {
    .centred {
      width: 100%;
      padding: 20px;

      .left {
        max-width: 400px;

        .detail {
          .swiper-slide {

            .swiper-div {
              height: 440px;
            }
          }
        }

        .swiper-pagination {
          .swiper-pagination-bullet {}
        }

        .swiper-button-prev-detail {
          height: 80px;
          width: 40px;
          padding: 3px 7px 3px 7px;
        }

        .swiper-button-next-detail {
          height: 80px;
          width: 40px;
          padding: 3px 7px 3px 7px;
        }

      }

      .right {
        h2 {}

        p {}

        .price {
          span {
            strong {}
          }
        }

        .contact {
          span {}

          a {}
        }
      }
    }
  }

  .search-section {
    h2 {}

    .content {
      .item {
        .img {
          img {}
        }

        .text {
          h3 {}

          p {}

          .bottom {
            span {}

            .full-orange {}
          }
        }
      }
    }
  }

  .register-section {
    h2 {}

    .register {
      width: 100%;
      max-width: 400px;
      padding: 20px 30px 20px 30px;

      .wrapper {
        input {}

        label {}

        .full-green {}
      }
    }
  }

  .login-section {
    h2 {}

    .login {
      width: 100%;
      max-width: 400px;
      padding: 20px 30px 20px 30px;

      input {}

      .full-green {}
    }
  }

  .inventory {
    h2 {}

    .add {
      a {}
    }

    .content {
      grid-template-columns: repeat(1, 1fr);
      display: grid;
      justify-items: center;
      max-width: 70%;
      margin: AUTO;

      .item {
        .img {
          height: 160px;

          img {}

          .bg {}

          p {}
        }

        .text {
          display: grid;
          justify-items: start;

          h3 {}

          span {}

          a {
            font-size: 1.4rem;
            float: left;

            &:first-of-type {}
          }
        }
      }
    }
  }

  .modal {

    &.modal-add {}

    .bg {}

    .close {}

    .modal-text {
      h3 {}

      .upper {}

      .form-review {
        .form-holder {
          h4 {}

          .phone {}

          input,
          textarea {
            &+label {}
          }

          textarea {}

          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="number"],
          textarea {
            &+label {
              &.active {}
            }

            &:focus {
              &+label {}
            }
          }

          input[type="number"] {}

          input[type="radio"] {}

          input[type="checkbox"] {
            &+label {}
          }

          .dropdown {
            &.active {
              .active-select {}

              .select-block {}
            }

            .active-select {
              a {}
            }

            .select-block {
              .select-item {

                a {}
              }
            }
          }

          select {}
        }

        &.drop {
          h4 {}
        }
      }

      .left {}

      .right {
        textarea {}

        .form-holder {
          h4 {}

          &.button {}

          .review-send {}
        }
      }
    }
  }
}

.footer {
  .flex-div {
    .contacts {
      h2 {}

      a {
        &:last-of-type {}

        strong {}

        &.phone {}

        &.email {}
      }
    }

    .links {
      a {}
    }

    .created-by {
      span {
        a {}
      }
    }
  }
}