.file-upload {
  .dragover {}

  .upload-field {
    .fake-button {}

    .file-upload-field {}
  }

  .file-upload-items {
    .thumbnail-container {
      &:last-of-type {
        margin-right: 0px;
      }

      img {}

      .file-name {}

      .remove-button {
        &:hover {}
      }
    }
  }

  .error {}
}

html {}

body {}

.header {

  &.fixed {}

  .flex-div {
    .logo {
      img {}

      .small {
        display: none
      }
    }

    form {
      input {
        &::placeholder {}
      }

      .search {}
    }

    nav {
      ul {
        li {
          &:last-of-type {}

          a {}
        }
      }
    }

    .hamburger {}
  }

}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p,
span,
blockquote {}

span {}

.btn {
  &::before {}

  &::after {}

  &.normal-tran {}

  &.full-green {}

  &.full-orange {}
}

section {}

.error {
  .font-roboto-regular();
}

.content {
  &.author {}

  .item {
    .holder {
      .img {
        img {}
      }

      h3 {
        margin-bottom: 10px;
      }
    }

    .bottom {
      padding-bottom: 20px;

      span {}

      .full-blue {}
    }
  }
}

.main {
  .main-section {

    .content {
      .item {
        .img {
          img {}
        }

        .text {
          h3 {}

          p {}

          .bottom {
            span {}

            .full-orange {}
          }
        }
      }
    }
  }

  .category {
    margin-bottom: 100px;

  }

  .detail-section {
    .centred {
      .left {
        max-width: 440px;
        margin-right: 40px;

        .detail {
          .swiper-slide {
            .swiper-div {
              height: 480px;

            }
          }
        }

        .swiper-pagination {
          .swiper-pagination-bullet {}
        }

        .swiper-button-prev-detail {
          height: 90px;
          width: 50px;
        }

        .swiper-button-next-detail {
          height: 90px;
          width: 50px;
        }
      }

      .right {
        padding: 40px 40px 40px 0px;

        h2 {
          margin-bottom: 20px;
        }

        p {}

        .price {
          span {
            font-size: 1.8rem;

            strong {}
          }
        }

        .contact {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: flex-start;

          span {
            margin-right: 0px;
            font-size: 1.8rem;
          }

          a {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  .search-section {
    h2 {}

    .content {
      .item {
        .img {
          img {}
        }

        .text {
          h3 {}

          p {}

          .bottom {
            span {}

            .full-orange {}
          }
        }
      }
    }
  }

  .register-section {
    h2 {}

    .register {
      .wrapper {
        input {}

        label {}

        .full-green {}
      }
    }
  }

  .login-section {
    h2 {}

    .login {
      input {}

      .full-green {}
    }
  }

  .inventory {
    h2 {}

    .add {
      a {}
    }

    .content {
      .item {
        .img {
          img {}

          .bg {}

          p {}
        }

        .text {
          h3 {}

          span {}

          a {
            &:first-of-type {}
          }
        }
      }
    }
  }

  .modal {
    &.modal-add {
      padding-top: 130px;
      padding-bottom: 130px;
    }

    .bg {}

    .close {}

    .modal-text {
      width: 600px;
      padding: 40px 40px 40px 40px;

      h3 {}

      .upper {
        flex-direction: column;
        width: 100%;
      }

      .form-review {
        align-items: center;

        .form-holder {
          h4 {}

          .phone {}

          input,
          textarea {
            &+label {}
          }

          textarea {}

          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="number"],
          textarea {
            &+label {
              &.active {}
            }

            &:focus {
              .t(0.2s);

              &+label {}
            }
          }

          input[type="number"] {}

          input[type="radio"] {}

          input[type="checkbox"] {
            &+label {}
          }

          .dropdown {
            &.active {
              .active-select {}

              .select-block {}
            }

            .active-select {
              a {}
            }

            .select-block {
              .select-item {

                a {}
              }
            }
          }

          select {}
        }

        &.drop {
          h4 {}
        }
      }

      .left {
        margin-right: 0;
        width: 100%;
      }

      .right {
        width: 100%;

        textarea {}

        .form-holder {
          h4 {}

          &.button {}

          .review-send {}
        }
      }
    }
  }
}

.footer {
  .flex-div {
    .contacts {
      h2 {}

      a {
        &:last-of-type {}

        strong {}

        &.phone {}

        &.email {}
      }
    }

    .links {
      a {}
    }

    .created-by {
      span {
        a {}
      }
    }
  }
}